body {
  background-color: #f3f4f6;
  font-family: 'Segoe UI', sans-serif;
}

.sidebar {
  position: fixed; /* Faz a sidebar ficar fixa na lateral */
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh; /* 100% da altura da tela */
  background-color: #1f252f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  z-index: 1000; /* Garante que ela fique acima do conteúdo */
}

.sidebar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff8c00;
}

.sidebar .nav-link {
  color: #fff;
  padding: 8px 0;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: #ff8c00;
  font-weight: 600;
}

.text-orange {
  color: #ff8c00;
}

.user {
  color: #fff;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* Estilo para o sidebar mobile */
.sidebar-mobile {
  background-color: #1f252f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-mobile .nav-link {
  color: #fff;
  padding: 8px 0;
}

.sidebar-mobile .nav-link:hover,
.sidebar-mobile .nav-link.active {
  color: #ff8c00;
  font-weight: 600;
}

.sidebar-mobile .user {
  color: #fff;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

.table thead {
  background-color: #f9f9f9;
}

.main-content {
  margin-left: 220px; /* ou padding-left, dependendo do layout */
  padding: 20px;
}

@media (max-width: 767.98px) {
  .sidebar {
    display: none !important;
  }
  .main-content {
    margin-left: 0; /* ou padding-left, dependendo do layout */
    padding: 0;
  }
}

.pagination .page-item.active .page-link {
    background-color: #ff6600;
    color: #fff;
    border-color: #ff6600;
}

.pagination .page-item .page-link {
    color: #ff6600;
    border-radius: 6px;
    transition: all 0.2s 
ease;
}