.text-orange {
    color: #ff8c00;
  }
  
  .btn-orange {
    background-color: #ff8c00;
    color: white;
    border: none;
  }
  
  .btn-orange:hover {
    background-color: #e67800;
  }
  
  .sidebar {
    width: 220px;
    min-height: 100vh;
  }

  .icon-logo{
    width: 20px;
  }

  .nav-link:hover{
    color: #e67800 !important;
  }